* {
  margin: 0;
  padding: 0;
}
.navbar-main {
  height: 7vh;
  background-color: #706ca3;
  text-align: center;
}
.title {
  font-size: 25px;
  left: 3px;
  font-weight: 900;
  font-style: italic;
  color: antiquewhite;
  text-align: center;
  padding-top: 1%;
}
